
body{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.original{
    padding: 30px;
    margin: 20px;
    background-color: rgb(222, 239, 213);
    color: rgb(40, 69, 70);
    display: block;
    justify-content: center;
    align-items: center;

}

.original form{
    border: 2px solid gainsboro;
    border-radius: 5px;

}
.contraste{
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(11, 11, 11);
    color: rgb(184, 200, 61);
    display: block;
    justify-content: center;
    align-items: center;

}
.contraste form{
    border: 2px solid white;
    border-radius: 5px;

}
form{

    max-width: 500px;
}

input{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    border-style: none;
}
#enviar{
    width: 100px;
}


#contraste button{
    border-radius: 5px;
    height: 30px;

}

